 
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaymentMode]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.PaymentMode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PaymentMode] ON
INSERT [dbo].[PaymentMode] ([Id], [Name]) VALUES (1, N'Cash')
INSERT [dbo].[PaymentMode] ([Id], [Name]) VALUES (2, N'Cheque')
INSERT [dbo].[PaymentMode] ([Id], [Name]) VALUES (3, N'Credit Card')
SET IDENTITY_INSERT [dbo].[PaymentMode] OFF
/****** Object:  Table [dbo].[Tax]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tax](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TaxRate] [decimal](18, 2) NOT NULL,
	[Other] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Tax] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tax] ON
INSERT [dbo].[Tax] ([Id], [Name], [TaxRate], [Other]) VALUES (2, N'CGST And SGST @18%', CAST(18.00 AS Decimal(18, 2)), N'GST')
INSERT [dbo].[Tax] ([Id], [Name], [TaxRate], [Other]) VALUES (3, N'IGST @18%', CAST(18.00 AS Decimal(18, 2)), N'IGST')
INSERT [dbo].[Tax] ([Id], [Name], [TaxRate], [Other]) VALUES (5, N'CGST And SGST  @12%', CAST(12.00 AS Decimal(18, 2)), N'GST')
SET IDENTITY_INSERT [dbo].[Tax] OFF
/****** Object:  Table [dbo].[Setting]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[sKey] [nvarchar](200) NOT NULL,
	[sValue] [nvarchar](3000) NOT NULL,
	[sGroup] [nvarchar](500) NOT NULL,
	[WarehouseId] [int] NULL,
 CONSTRAINT [PK_dbo.Setting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Setting] ON
INSERT [dbo].[Setting] ([Id], [sKey], [sValue], [sGroup], [WarehouseId]) VALUES (1, N'CurrencySymbol', N'₹', N'Invoice', 1)
SET IDENTITY_INSERT [dbo].[Setting] OFF
/****** Object:  Table [dbo].[Warehouse]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[Mobile] [nvarchar](15) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Warehouse] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Warehouse] ON
INSERT [dbo].[Warehouse] ([Id], [Name], [Address], [Mobile], [Email]) VALUES (1, N'Company A', NULL, NULL, NULL)
INSERT [dbo].[Warehouse] ([Id], [Name], [Address], [Mobile], [Email]) VALUES (2, N'Company B', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Warehouse] OFF
/****** Object:  Table [dbo].[InvoiceFormat]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceFormat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[Logo] [nvarchar](100) NULL,
	[AddressInfo] [nvarchar](500) NULL,
	[OtherInfo] [nvarchar](500) NULL,
	[FooterInfo] [nvarchar](500) NULL,
	[WarehouseId] [int] NULL,
 CONSTRAINT [PK_dbo.InvoiceFormat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InvoiceFormat] ON
INSERT [dbo].[InvoiceFormat] ([Id], [CompanyName], [Logo], [AddressInfo], [OtherInfo], [FooterInfo], [WarehouseId]) VALUES (1, N'jApCode,Inc.', N'Jap8023082017121317.PNG', N'33,Ward 1,Model town Jalandhar,India ', N'singh.mvc@gmail.com<br/>+91 9878707793', N'Thanks For Sale!', 1)
SET IDENTITY_INSERT [dbo].[InvoiceFormat] OFF
/****** Object:  Table [dbo].[Invoice]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsBilled] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
	[IsPurchaseOrSale] [nvarchar](20) NOT NULL,
	[AddedBy] [int] NULL,
	[DateAdded] [datetime] NULL,
	[DateModied] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[WarehouseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Invoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON
INSERT [dbo].[Invoice] ([Id], [IsBilled], [UserId], [IsPurchaseOrSale], [AddedBy], [DateAdded], [DateModied], [ModifiedBy], [WarehouseId]) VALUES (61, 0, 2, N'Purchase', 1, CAST(0x0000A7FE00A830DA AS DateTime), CAST(0x0000A7FE00A830DA AS DateTime), 1, 1)
INSERT [dbo].[Invoice] ([Id], [IsBilled], [UserId], [IsPurchaseOrSale], [AddedBy], [DateAdded], [DateModied], [ModifiedBy], [WarehouseId]) VALUES (62, 0, 3, N'Sale', 1, CAST(0x0000A7FE00A8B481 AS DateTime), CAST(0x0000A7FE00A8B481 AS DateTime), 1, 1)
INSERT [dbo].[Invoice] ([Id], [IsBilled], [UserId], [IsPurchaseOrSale], [AddedBy], [DateAdded], [DateModied], [ModifiedBy], [WarehouseId]) VALUES (63, 0, 2, N'Purchase', 1, CAST(0x0000A83900CCAD6B AS DateTime), CAST(0x0000A83900CCAD6B AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
/****** Object:  Table [dbo].[InventoryType]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.InventoryType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InventoryType] ON
INSERT [dbo].[InventoryType] ([Id], [Name]) VALUES (1, N'Purchase')
INSERT [dbo].[InventoryType] ([Id], [Name]) VALUES (2, N'Sale')
INSERT [dbo].[InventoryType] ([Id], [Name]) VALUES (3, N'Purchase Return')
SET IDENTITY_INSERT [dbo].[InventoryType] OFF
/****** Object:  Table [dbo].[Expense]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expense](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Remarks] [nvarchar](200) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[AddedBy] [int] NULL,
	[DateAdded] [datetime] NULL,
	[WarehouseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Expense] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Expense] ON
INSERT [dbo].[Expense] ([Id], [Remarks], [Amount], [AddedBy], [DateAdded], [WarehouseId]) VALUES (7, N'internet bill', CAST(200.00 AS Decimal(18, 2)), 1, CAST(0x0000A7FE00A9D814 AS DateTime), 1)
INSERT [dbo].[Expense] ([Id], [Remarks], [Amount], [AddedBy], [DateAdded], [WarehouseId]) VALUES (8, N'give salary', CAST(300.00 AS Decimal(18, 2)), 1, CAST(0x0000A83900CD8354 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Expense] OFF
/****** Object:  Table [dbo].[Menu]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuText] [nvarchar](100) NOT NULL,
	[MenuURL] [nvarchar](400) NOT NULL,
	[ParentId] [int] NULL,
	[SortOrder] [int] NULL,
	[MenuIcon] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Menu] ON
INSERT [dbo].[Menu] ([Id], [MenuText], [MenuURL], [ParentId], [SortOrder], [MenuIcon]) VALUES (1, N'App User and Access', N'root', NULL, 1, N'<i class="fa fa-users"></i>')
INSERT [dbo].[Menu] ([Id], [MenuText], [MenuURL], [ParentId], [SortOrder], [MenuIcon]) VALUES (2, N'List Role', N'Role', 1, 1, N'<i class="fa fa-angle-double-right"></i>')
INSERT [dbo].[Menu] ([Id], [MenuText], [MenuURL], [ParentId], [SortOrder], [MenuIcon]) VALUES (4, N'List User', N'User', 1, 2, N'<i class="fa fa-angle-double-right"></i>')
SET IDENTITY_INSERT [dbo].[Menu] OFF
/****** Object:  Table [dbo].[LedgerAccount]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ParentId] [int] NULL,
	[DateAdded] [datetime] NULL,
	[AddedBy] [int] NULL,
	[WarehouseId] [int] NULL,
 CONSTRAINT [PK_dbo.LedgerAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LedgerAccount] ON
INSERT [dbo].[LedgerAccount] ([Id], [Name], [ParentId], [DateAdded], [AddedBy], [WarehouseId]) VALUES (1, N'ASSETS', NULL, CAST(0x0000A7C200000000 AS DateTime), 1, NULL)
INSERT [dbo].[LedgerAccount] ([Id], [Name], [ParentId], [DateAdded], [AddedBy], [WarehouseId]) VALUES (2, N'EXPENSE', NULL, CAST(0x0000A7C200000000 AS DateTime), 1, NULL)
INSERT [dbo].[LedgerAccount] ([Id], [Name], [ParentId], [DateAdded], [AddedBy], [WarehouseId]) VALUES (3, N'REVENUE', NULL, CAST(0x0000A7C200000000 AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[LedgerAccount] OFF
/****** Object:  Table [dbo].[Role]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[WarehouseId] [int] NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([Id], [RoleName], [IsActive], [WarehouseId]) VALUES (1, N'Admin', 1, NULL)
INSERT [dbo].[Role] ([Id], [RoleName], [IsActive], [WarehouseId]) VALUES (2, N'SaleMan', 1, 1)
INSERT [dbo].[Role] ([Id], [RoleName], [IsActive], [WarehouseId]) VALUES (3, N'Vendor', 1, 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ParentId] [int] NULL,
	[WarehouseId] [int] NULL,
 CONSTRAINT [PK_dbo.ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON
INSERT [dbo].[ProductCategory] ([Id], [Name], [ParentId], [WarehouseId]) VALUES (1, N'Cold Drink', NULL, NULL)
INSERT [dbo].[ProductCategory] ([Id], [Name], [ParentId], [WarehouseId]) VALUES (2, N'Namkeen', NULL, NULL)
INSERT [dbo].[ProductCategory] ([Id], [Name], [ParentId], [WarehouseId]) VALUES (3, N'Biskut', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
/****** Object:  Table [dbo].[Product]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ProductCategoryId] [int] NOT NULL,
	[BarCode] [nvarchar](100) NULL,
	[PurchasePrice] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[ProductImage] [nvarchar](100) NULL,
	[AddedBy] [int] NULL,
	[DateAdded] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DateModied] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[StockAlert] [int] NOT NULL,
	[TaxId] [int] NULL,
	[WarehouseId] [int] NOT NULL,
	[Discount] [decimal](18, 2) NULL,
	[RemainingQuantity] [decimal](18, 2) NULL,
	[RemainingAmount] [decimal](18, 2) NULL,
	[HSN] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON
INSERT [dbo].[Product] ([Id], [Name], [ProductCategoryId], [BarCode], [PurchasePrice], [SalePrice], [ProductImage], [AddedBy], [DateAdded], [ModifiedBy], [DateModied], [IsActive], [StockAlert], [TaxId], [WarehouseId], [Discount], [RemainingQuantity], [RemainingAmount], [HSN]) VALUES (1, N'Limca', 1, N'1', CAST(60.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(18, 2)), N'Limca-1.25-Ltr-500x50003082017110820.gif', 1, CAST(0x0000A7CB00EBFC80 AS DateTime), 1, CAST(0x0000A7CB00EBFC80 AS DateTime), 1, 10, 2, 1, NULL, CAST(4.00 AS Decimal(18, 2)), CAST(348.80 AS Decimal(18, 2)), N'D1')
INSERT [dbo].[Product] ([Id], [Name], [ProductCategoryId], [BarCode], [PurchasePrice], [SalePrice], [ProductImage], [AddedBy], [DateAdded], [ModifiedBy], [DateModied], [IsActive], [StockAlert], [TaxId], [WarehouseId], [Discount], [RemainingQuantity], [RemainingAmount], [HSN]) VALUES (2, N'Haldiram''s Bhujia (400g) pack', 2, N'2', CAST(180.00 AS Decimal(18, 2)), CAST(194.00 AS Decimal(18, 2)), N's-l30003082017110947.jpg', 1, CAST(0x0000A7CB00EC0838 AS DateTime), 1, CAST(0x0000A7CB00EC0838 AS DateTime), 1, 10, 5, 1, NULL, CAST(7.00 AS Decimal(18, 2)), CAST(1504.16 AS Decimal(18, 2)), N'D2')
INSERT [dbo].[Product] ([Id], [Name], [ProductCategoryId], [BarCode], [PurchasePrice], [SalePrice], [ProductImage], [AddedBy], [DateAdded], [ModifiedBy], [DateModied], [IsActive], [StockAlert], [TaxId], [WarehouseId], [Discount], [RemainingQuantity], [RemainingAmount], [HSN]) VALUES (3, N'dream light biscuit', 5, N'3', CAST(15.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), N'images03082017111049.jpg', 1, CAST(0x0000A7C400B7FE58 AS DateTime), 1, CAST(0x0000A7C400B7FE58 AS DateTime), 1, 10, 11, 1, NULL, CAST(10.00 AS Decimal(18, 2)), CAST(207.50 AS Decimal(18, 2)), N'D3')
SET IDENTITY_INSERT [dbo].[Product] OFF
/****** Object:  Table [dbo].[User]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](111) NULL,
	[Mobile] [nvarchar](15) NULL,
	[Address] [nvarchar](200) NULL,
	[About] [nvarchar](500) NULL,
	[RoleId] [int] NOT NULL,
	[JoinDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CanLogin] [bit] NOT NULL,
	[WarehouseId] [int] NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([Id], [UserName], [Password], [FullName], [Mobile], [Address], [About], [RoleId], [JoinDate], [IsActive], [CanLogin], [WarehouseId]) VALUES (1, N'Admin', N'Admin', N'Admin', NULL, NULL, NULL, 1, CAST(0x0000A7C200000000 AS DateTime), 1, 1, 1)
INSERT [dbo].[User] ([Id], [UserName], [Password], [FullName], [Mobile], [Address], [About], [RoleId], [JoinDate], [IsActive], [CanLogin], [WarehouseId]) VALUES (2, N'Savi Vendor', N'Savi', N'Savi', NULL, NULL, NULL, 3, CAST(0x0000A7C400000000 AS DateTime), 1, 0, 1)
INSERT [dbo].[User] ([Id], [UserName], [Password], [FullName], [Mobile], [Address], [About], [RoleId], [JoinDate], [IsActive], [CanLogin], [WarehouseId]) VALUES (3, N'Ravi Customer', N'ravi', N'RAvi', NULL, NULL, NULL, 4, CAST(0x0000A7C400000000 AS DateTime), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Transaction]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AddedBy] [int] NULL,
	[DateAdded] [datetime] NULL,
	[Other] [nvarchar](100) NULL,
	[PurchaseOrSale] [nvarchar](20) NULL,
	[PurchaseIdOrSaleId] [int] NULL,
	[DebitLedgerAccountId] [int] NULL,
	[DebitAmount] [decimal](18, 2) NULL,
	[CreditLedgerAccountId] [int] NULL,
	[CreditAmount] [decimal](18, 2) NULL,
	[Remarks] [nvarchar](100) NULL,
	[WarehouseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON
INSERT [dbo].[Transaction] ([Id], [AddedBy], [DateAdded], [Other], [PurchaseOrSale], [PurchaseIdOrSaleId], [DebitLedgerAccountId], [DebitAmount], [CreditLedgerAccountId], [CreditAmount], [Remarks], [WarehouseId]) VALUES (103, 1, CAST(0x0000A7FE00A8316A AS DateTime), NULL, N'Purchase', 44, 13, CAST(157.50 AS Decimal(18, 2)), 20, CAST(157.50 AS Decimal(18, 2)), N'Purchase, Purchase Account debit and Savi Vendor account credit', 1)
INSERT [dbo].[Transaction] ([Id], [AddedBy], [DateAdded], [Other], [PurchaseOrSale], [PurchaseIdOrSaleId], [DebitLedgerAccountId], [DebitAmount], [CreditLedgerAccountId], [CreditAmount], [Remarks], [WarehouseId]) VALUES (104, 1, CAST(0x0000A7FE00A83176 AS DateTime), NULL, N'Purchase', 45, 13, CAST(2016.00 AS Decimal(18, 2)), 20, CAST(2016.00 AS Decimal(18, 2)), N'Purchase, Purchase Account debit and Savi Vendor account credit', 1)
INSERT [dbo].[Transaction] ([Id], [AddedBy], [DateAdded], [Other], [PurchaseOrSale], [PurchaseIdOrSaleId], [DebitLedgerAccountId], [DebitAmount], [CreditLedgerAccountId], [CreditAmount], [Remarks], [WarehouseId]) VALUES (105, 1, CAST(0x0000A7FE00A8317A AS DateTime), NULL, N'Purchase', 46, 13, CAST(354.00 AS Decimal(18, 2)), 20, CAST(354.00 AS Decimal(18, 2)), N'Purchase, Purchase Account debit and Savi Vendor account credit', 1)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
/****** Object:  Table [dbo].[Sale]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerUserId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[PaymentModeId] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[ProductId] [int] NOT NULL,
	[DateAdded] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DateModied] [datetime] NULL,
	[AddedBy] [int] NULL,
	[WarehouseId] [int] NOT NULL,
	[TotalAmountWithTax] [decimal](18, 2) NULL,
	[InventoryTypeId] [int] NULL,
 CONSTRAINT [PK_dbo.Sale] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sale] ON
INSERT [dbo].[Sale] ([Id], [CustomerUserId], [Quantity], [SalePrice], [PaymentModeId], [TotalAmount], [PaidAmount], [ProductId], [DateAdded], [ModifiedBy], [DateModied], [AddedBy], [WarehouseId], [TotalAmountWithTax], [InventoryTypeId]) VALUES (31, 3, CAST(2.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(18, 2)), 1, CAST(160.00 AS Decimal(18, 2)), CAST(160.00 AS Decimal(18, 2)), 1, CAST(0x0000A7FE00A8B483 AS DateTime), 1, CAST(0x0000A7FE00A8B483 AS DateTime), 1, 1, CAST(188.80 AS Decimal(18, 2)), 2)
INSERT [dbo].[Sale] ([Id], [CustomerUserId], [Quantity], [SalePrice], [PaymentModeId], [TotalAmount], [PaidAmount], [ProductId], [DateAdded], [ModifiedBy], [DateModied], [AddedBy], [WarehouseId], [TotalAmountWithTax], [InventoryTypeId]) VALUES (32, 3, CAST(3.00 AS Decimal(18, 2)), CAST(194.00 AS Decimal(18, 2)), 1, CAST(582.00 AS Decimal(18, 2)), CAST(582.00 AS Decimal(18, 2)), 2, CAST(0x0000A7FE00A8B48C AS DateTime), 1, CAST(0x0000A7FE00A8B48C AS DateTime), 1, 1, CAST(651.84 AS Decimal(18, 2)), 2)
INSERT [dbo].[Sale] ([Id], [CustomerUserId], [Quantity], [SalePrice], [PaymentModeId], [TotalAmount], [PaidAmount], [ProductId], [DateAdded], [ModifiedBy], [DateModied], [AddedBy], [WarehouseId], [TotalAmountWithTax], [InventoryTypeId]) VALUES (33, 3, CAST(1.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), 1, CAST(20.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), 3, CAST(0x0000A7FE00A8B493 AS DateTime), 1, CAST(0x0000A7FE00A8B493 AS DateTime), 1, 1, CAST(21.00 AS Decimal(18, 2)), 4)
SET IDENTITY_INSERT [dbo].[Sale] OFF
/****** Object:  Table [dbo].[MenuPermission]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuPermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [int] NULL,
	[SortOrder] [int] NULL,
	[IsCreate] [bit] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsUpdate] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MenuPermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MenuPermission] ON
INSERT [dbo].[MenuPermission] ([Id], [MenuId], [RoleId], [UserId], [SortOrder], [IsCreate], [IsRead], [IsUpdate], [IsDelete]) VALUES (1, 1, 1, NULL, 1, 1, 1, 1, 1)
INSERT [dbo].[MenuPermission] ([Id], [MenuId], [RoleId], [UserId], [SortOrder], [IsCreate], [IsRead], [IsUpdate], [IsDelete]) VALUES (2, 2, 1, NULL, 1, 1, 1, 1, 1)
INSERT [dbo].[MenuPermission] ([Id], [MenuId], [RoleId], [UserId], [SortOrder], [IsCreate], [IsRead], [IsUpdate], [IsDelete]) VALUES (3, 4, 1, NULL, 2, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[MenuPermission] OFF
/****** Object:  Table [dbo].[Purchase]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorUserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[AddedBy] [int] NULL,
	[WarehouseId] [int] NOT NULL,
	[TotalAmountWithTax] [decimal](18, 2) NULL,
	[InventoryTypeId] [int] NULL,
 CONSTRAINT [PK_dbo.Purchase] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Purchase] ON
INSERT [dbo].[Purchase] ([Id], [VendorUserId], [ProductId], [Quantity], [UnitPrice], [TotalAmount], [DateAdded], [AddedBy], [WarehouseId], [TotalAmountWithTax], [InventoryTypeId]) VALUES (44, 2, 3, CAST(10.00 AS Decimal(18, 2)), CAST(15.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), CAST(0x0000A7FE00A8314B AS DateTime), 1, 1, CAST(157.50 AS Decimal(18, 2)), 1)
INSERT [dbo].[Purchase] ([Id], [VendorUserId], [ProductId], [Quantity], [UnitPrice], [TotalAmount], [DateAdded], [AddedBy], [WarehouseId], [TotalAmountWithTax], [InventoryTypeId]) VALUES (45, 2, 2, CAST(10.00 AS Decimal(18, 2)), CAST(180.00 AS Decimal(18, 2)), CAST(1800.00 AS Decimal(18, 2)), CAST(0x0000A7FE00A83175 AS DateTime), 1, 1, CAST(2016.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Purchase] ([Id], [VendorUserId], [ProductId], [Quantity], [UnitPrice], [TotalAmount], [DateAdded], [AddedBy], [WarehouseId], [TotalAmountWithTax], [InventoryTypeId]) VALUES (46, 2, 1, CAST(5.00 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), CAST(0x0000A7FE00A83178 AS DateTime), 1, 1, CAST(354.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Purchase] OFF
/****** Object:  Table [dbo].[ProductStock]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NULL,
	[CGST] [int] NULL,
	[CGST_Rate] [decimal](18, 2) NULL,
	[SGST] [int] NULL,
	[SGST_Rate] [decimal](18, 2) NULL,
	[IGST] [int] NULL,
	[IGST_Rate] [decimal](18, 2) NULL,
	[OtherTaxValue] [decimal](18, 2) NULL,
	[Description] [nvarchar](200) NULL,
	[AddedBy] [int] NULL,
	[DateAdded] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[DateModied] [datetime] NULL,
	[InventoryTypeId] [int] NOT NULL,
	[PurchasePrice] [decimal](18, 2) NOT NULL,
	[TotalPurchaseAmount] [decimal](18, 2) NOT NULL,
	[TotalSaleAmount] [decimal](18, 2) NOT NULL,
	[TotalSaleAmountWithTax] [decimal](18, 2) NOT NULL,
	[TaxId] [int] NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
	[Profit] [decimal](18, 2) NOT NULL,
	[ProfitWithTax] [decimal](18, 2) NOT NULL,
	[WarehouseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductStock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductStock] ON
SET IDENTITY_INSERT [dbo].[ProductStock] OFF
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
	[AddedBy] [int] NULL,
	[DateAdded] [datetime] NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[TotalAmountWithTax] [decimal](18, 2) NOT NULL,
	[TaxId] [int] NULL,
	[PurchaseId] [int] NULL,
	[SaleId] [int] NULL,
	[ProductStockId] [int] NOT NULL,
	[TransactionId] [int] NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[InvoiceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.InvoiceItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InvoiceItems] ON
INSERT [dbo].[InvoiceItems] ([Id], [ProductId], [Quantity], [TaxAmount], [AddedBy], [DateAdded], [SalePrice], [TotalAmount], [TotalAmountWithTax], [TaxId], [PurchaseId], [SaleId], [ProductStockId], [TransactionId], [WarehouseId], [InvoiceId]) VALUES (74, 3, CAST(10.00 AS Decimal(18, 2)), CAST(7.50 AS Decimal(18, 2)), 1, CAST(0x0000A7FE00A8316D AS DateTime), CAST(15.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), CAST(157.50 AS Decimal(18, 2)), 11, 44, NULL, 74, 103, 1, 61)
INSERT [dbo].[InvoiceItems] ([Id], [ProductId], [Quantity], [TaxAmount], [AddedBy], [DateAdded], [SalePrice], [TotalAmount], [TotalAmountWithTax], [TaxId], [PurchaseId], [SaleId], [ProductStockId], [TransactionId], [WarehouseId], [InvoiceId]) VALUES (75, 2, CAST(10.00 AS Decimal(18, 2)), CAST(216.00 AS Decimal(18, 2)), 1, CAST(0x0000A7FE00A83177 AS DateTime), CAST(180.00 AS Decimal(18, 2)), CAST(1800.00 AS Decimal(18, 2)), CAST(2016.00 AS Decimal(18, 2)), 5, 45, NULL, 75, 104, 1, 61)
INSERT [dbo].[InvoiceItems] ([Id], [ProductId], [Quantity], [TaxAmount], [AddedBy], [DateAdded], [SalePrice], [TotalAmount], [TotalAmountWithTax], [TaxId], [PurchaseId], [SaleId], [ProductStockId], [TransactionId], [WarehouseId], [InvoiceId]) VALUES (76, 1, CAST(5.00 AS Decimal(18, 2)), CAST(54.00 AS Decimal(18, 2)), 1, CAST(0x0000A7FE00A8317B AS DateTime), CAST(60.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), CAST(354.00 AS Decimal(18, 2)), 2, 46, NULL, 76, 105, 1, 61)
SET IDENTITY_INSERT [dbo].[InvoiceItems] OFF
/****** Object:  Table [dbo].[DuePayment]    Script Date: 01/16/2018 11:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuePayment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DueAmount] [decimal](18, 2) NOT NULL,
	[Remarks] [nvarchar](200) NOT NULL,
	[AddedBy] [int] NULL,
	[DateAdded] [datetime] NULL,
	[WarehouseId] [int] NOT NULL,
	[IsReturn] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.DuePayment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DuePayment] ON
INSERT [dbo].[DuePayment] ([Id], [UserId], [DueAmount], [Remarks], [AddedBy], [DateAdded], [WarehouseId], [IsReturn]) VALUES (9, 3, CAST(1000.00 AS Decimal(18, 2)), N'give borrow 1000rs to Ravi customer', 1, CAST(0x0000A7FE00A9FB3C AS DateTime), 1, 1)
INSERT [dbo].[DuePayment] ([Id], [UserId], [DueAmount], [Remarks], [AddedBy], [DateAdded], [WarehouseId], [IsReturn]) VALUES (10, 2, CAST(200.00 AS Decimal(18, 2)), N'give borrow 200rs to Ravi customer', 1, CAST(0x0000A83900CDAB2C AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[DuePayment] OFF
/****** Object:  Default [DF__DuePaymen__IsRet__4D94879B]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[DuePayment] ADD  DEFAULT ((0)) FOR [IsReturn]
GO
/****** Object:  Default [DF__Invoice__Warehou__49C3F6B7]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT ((0)) FOR [WarehouseId]
GO
/****** Object:  Default [DF__InvoiceIt__SaleP__4222D4EF]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT ((0)) FOR [SalePrice]
GO
/****** Object:  Default [DF__InvoiceIt__Total__4316F928]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
/****** Object:  Default [DF__InvoiceIt__Total__440B1D61]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT ((0)) FOR [TotalAmountWithTax]
GO
/****** Object:  Default [DF__InvoiceIt__Produ__44FF419A]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT ((0)) FOR [ProductStockId]
GO
/****** Object:  Default [DF__InvoiceIt__Trans__45F365D3]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT ((0)) FOR [TransactionId]
GO
/****** Object:  Default [DF__InvoiceIt__Wareh__46E78A0C]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT ((0)) FOR [WarehouseId]
GO
/****** Object:  Default [DF__InvoiceIt__Invoi__4CA06362]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT ((0)) FOR [InvoiceId]
GO
/****** Object:  Default [DF__Product__Warehou__412EB0B6]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [WarehouseId]
GO
/****** Object:  Default [DF__ProductSt__Purch__398D8EEE]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[ProductStock] ADD  DEFAULT ((0)) FOR [PurchasePrice]
GO
/****** Object:  Default [DF__ProductSt__Total__3A81B327]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[ProductStock] ADD  DEFAULT ((0)) FOR [TotalPurchaseAmount]
GO
/****** Object:  Default [DF__ProductSt__Total__3B75D760]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[ProductStock] ADD  DEFAULT ((0)) FOR [TotalSaleAmount]
GO
/****** Object:  Default [DF__ProductSt__Total__3C69FB99]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[ProductStock] ADD  DEFAULT ((0)) FOR [TotalSaleAmountWithTax]
GO
/****** Object:  Default [DF__ProductSt__TaxAm__3D5E1FD2]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[ProductStock] ADD  DEFAULT ((0)) FOR [TaxAmount]
GO
/****** Object:  Default [DF__ProductSt__Profi__3E52440B]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[ProductStock] ADD  DEFAULT ((0)) FOR [Profit]
GO
/****** Object:  Default [DF__ProductSt__Profi__3F466844]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[ProductStock] ADD  DEFAULT ((0)) FOR [ProfitWithTax]
GO
/****** Object:  Default [DF__ProductSt__Wareh__403A8C7D]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[ProductStock] ADD  DEFAULT ((0)) FOR [WarehouseId]
GO
/****** Object:  Default [DF__Purchase__Wareho__47DBAE45]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Purchase] ADD  DEFAULT ((0)) FOR [WarehouseId]
GO
/****** Object:  Default [DF__Sale__WarehouseI__48CFD27E]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Sale] ADD  DEFAULT ((0)) FOR [WarehouseId]
GO
/****** Object:  Default [DF__Transacti__Wareh__4AB81AF0]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Transaction] ADD  DEFAULT ((0)) FOR [WarehouseId]
GO
/****** Object:  ForeignKey [FK_dbo.DuePayment_dbo.User_UserId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[DuePayment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DuePayment_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[DuePayment] CHECK CONSTRAINT [FK_dbo.DuePayment_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.InvoiceItems_dbo.Invoice_InvoiceId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InvoiceItems_dbo.Invoice_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_dbo.InvoiceItems_dbo.Invoice_InvoiceId]
GO
/****** Object:  ForeignKey [FK_dbo.InvoiceItems_dbo.Product_ProductId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InvoiceItems_dbo.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_dbo.InvoiceItems_dbo.Product_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.LedgerAccount_dbo.LedgerAccount_ParentId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[LedgerAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LedgerAccount_dbo.LedgerAccount_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[LedgerAccount] ([Id])
GO
ALTER TABLE [dbo].[LedgerAccount] CHECK CONSTRAINT [FK_dbo.LedgerAccount_dbo.LedgerAccount_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.Menu_dbo.Menu_ParentId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menu_dbo.Menu_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_dbo.Menu_dbo.Menu_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.MenuPermission_dbo.Menu_MenuId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[MenuPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuPermission_dbo.Menu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[MenuPermission] CHECK CONSTRAINT [FK_dbo.MenuPermission_dbo.Menu_MenuId]
GO
/****** Object:  ForeignKey [FK_dbo.MenuPermission_dbo.Role_RoleId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[MenuPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuPermission_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuPermission] CHECK CONSTRAINT [FK_dbo.MenuPermission_dbo.Role_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.MenuPermission_dbo.User_UserId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[MenuPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuPermission_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[MenuPermission] CHECK CONSTRAINT [FK_dbo.MenuPermission_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Product_dbo.ProductCategory_ProductCategoryId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.ProductCategory_ProductCategoryId] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategory] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.ProductCategory_ProductCategoryId]
GO
/****** Object:  ForeignKey [FK_dbo.ProductCategory_dbo.ProductCategory_ParentId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategory_dbo.ProductCategory_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[ProductCategory] ([Id])
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_dbo.ProductCategory_dbo.ProductCategory_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.ProductStock_dbo.InventoryType_InventoryTypeId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[ProductStock]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductStock_dbo.InventoryType_InventoryTypeId] FOREIGN KEY([InventoryTypeId])
REFERENCES [dbo].[InventoryType] ([Id])
GO
ALTER TABLE [dbo].[ProductStock] CHECK CONSTRAINT [FK_dbo.ProductStock_dbo.InventoryType_InventoryTypeId]
GO
/****** Object:  ForeignKey [FK_dbo.ProductStock_dbo.Product_ProductId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[ProductStock]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductStock_dbo.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductStock] CHECK CONSTRAINT [FK_dbo.ProductStock_dbo.Product_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.Purchase_dbo.Product_ProductId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Purchase_dbo.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_dbo.Purchase_dbo.Product_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.Purchase_dbo.User_VendorUserId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Purchase_dbo.User_VendorUserId] FOREIGN KEY([VendorUserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_dbo.Purchase_dbo.User_VendorUserId]
GO
/****** Object:  ForeignKey [FK_dbo.Sale_dbo.PaymentMode_PaymentModeId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sale_dbo.PaymentMode_PaymentModeId] FOREIGN KEY([PaymentModeId])
REFERENCES [dbo].[PaymentMode] ([Id])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_dbo.Sale_dbo.PaymentMode_PaymentModeId]
GO
/****** Object:  ForeignKey [FK_dbo.Sale_dbo.Product_ProductId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sale_dbo.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_dbo.Sale_dbo.Product_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.Sale_dbo.User_CustomerUserId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sale_dbo.User_CustomerUserId] FOREIGN KEY([CustomerUserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_dbo.Sale_dbo.User_CustomerUserId]
GO
/****** Object:  ForeignKey [FK_dbo.Transaction_dbo.LedgerAccount_CreditLedgerAccountId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaction_dbo.LedgerAccount_CreditLedgerAccountId] FOREIGN KEY([CreditLedgerAccountId])
REFERENCES [dbo].[LedgerAccount] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_dbo.Transaction_dbo.LedgerAccount_CreditLedgerAccountId]
GO
/****** Object:  ForeignKey [FK_dbo.Transaction_dbo.LedgerAccount_DebitLedgerAccountId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaction_dbo.LedgerAccount_DebitLedgerAccountId] FOREIGN KEY([DebitLedgerAccountId])
REFERENCES [dbo].[LedgerAccount] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_dbo.Transaction_dbo.LedgerAccount_DebitLedgerAccountId]
GO
/****** Object:  ForeignKey [FK_dbo.User_dbo.Role_RoleId]    Script Date: 01/16/2018 11:50:48 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.Role_RoleId]
GO
